
.card{
    overflow: hidden;
    height: 300px;

}

.card img{
    object-fit:cover;
    border-radius: 0.35rem;
    width:100%;
    height: 100%;
    transition: 0.3s all;
    cursor: pointer;

}

.card img:hover{
    scale: 1.05;
}